<h1>Welcome to Super Rentals</h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>
<h2>Available Rentals</h2>
<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}

<h3>All Reviews</h3>
<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>


<hr>

{{#link-to 'about'}}About{{/link-to}}<br>
{{#link-to 'news'}}Click here for announcements{{/link-to}}
